[Unit]
Description=github-runner-script
After=network.target

[Service]
Type=oneshot
ExecStart=/etc/github-runner/github-runner.sh --action=REGISTER
ExecStop=/etc/github-runner/github-runner.sh --action=REMOVE

[Install]
WantedBy=multi-user.target