[Unit]
Description=github-runner-start
After=network.target

[Service]
Restart=on-failure
RestartSec=30s
StartLimitInterval=30s
StartLimitBurst=3

Type=oneshot
WorkingDirectory=/etc/github-runner
ExecStart=/etc/github-runner/github-runner.sh --action=REGISTER

[Install]
WantedBy=multi-user.target