[Unit]
Description=github-runner-start
After=network.target

[Service]
Type=oneshot
WorkingDirectory=/etc/github-runner
ExecStart=/etc/github-runner/github-runner.sh --action=REGISTER

[Install]
WantedBy=multi-user.target